.borderColor {
  border-color: #a8a8a83d !important;
}
.avat {
  width: 120px;
  height: 120px;
}
.layer {
  width: 120px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  top: 0;
}
.posterr:hover .layer {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
